.clients {
    overflow:auto;
}

.auth-icon {
    display: block;
    width: 32px;
    height: 32px;
    background: url(authchoice.png) no-repeat;
}

.auth-icon.google, 
.auth-icon.google_openid,
.auth-icon.google_oauth {
    background-position: 0 -34px;
}
.auth-icon.twitter {
    background-position: 0 -68px;
}
.auth-icon.yandex,
.auth-icon.yandex_openid,
.auth-icon.yandex_oauth {
    background-position: 0 -102px;
}
.auth-icon.vkontakte {
    background-position: 0 -136px;
}
.auth-icon.facebook {
    content: "Signup With Facebook";
    background-color: #4568b2;
    border-radius: 3px;
    color: #fff;
    font-size: 16px !important;
    font-weight: bold !important;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
    font-family: fontawesome;
    /*background-position: 0 -170px;*/
}
.auth-icon.facebook:before {
    content: "Signup With Facebook";
}
.auth-icon.mailru {
    background-position: 0 -204px;
}
.auth-icon.moikrug {
    background-position: 0 -238px;
}
.auth-icon.odnoklassniki {
    background-position: 0 -272px;
}
.auth-icon.linkedin {
    background-position: 0 -306px;
}
.auth-icon.github {
    background-position: 0 -340px;
}
.auth-icon.live {
    background-position: 0 -372px;
}

.auth-link:hover .auth-icon i,
.auth-link:focus .auth-icon i {
    display: block;
    width: 32px;
    height: 32px;
    background: url(authchoice.png) 0 0 no-repeat;
}

.auth-clients {
    /*margin: 0 0 1em;*/
    list-style: none;
    overflow: auto;
}
.auth-clients li
{
    width: 44% !important;
}
.auth-clients li a
{
    width: 100% !important;
}
.auth-client {
    float: left;
    margin: 0 1em 0 0;
}

.auth-clients .auth-client .auth-link {
    display: block;
    width: 58px;
}

.auth-client .auth-link .auth-icon {
    margin: 0 auto;
}

.auth-client .auth-link .auth-title {
    display: block;
    margin-top: 0.4em;
    text-align: center;
}